.resumeDisplay {
  width: 714px;
  height: 1010px;
  display: flex;
  align-items: flex-start;
  gap: 80px;
  border: 1px solid gainsboro;
  padding: 80px;
  text-align: left;
}

.sectionTitle {
  font-size: 1.2rem;
}

.basicInfo,
.work,
.education,
.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.basicInfo {
  flex-grow: 1;
}

.right {
  flex-grow: 2;
}
